@model List<ItlaTv.Application.ViewModels.SerieVm.SerieViewModel>
@{
    ViewData["Title"] = "Mantenimiento de series";
}

<div class="container-fluid px-0">

    <div class="d-flex justify-content-between align-items-center mb-3">

        <a asp-controller="Serie" asp-action="Add" class="btn btn-success"> Agregar Nueva Serie</a>
    </div>



    <div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-light">No hay series añadidas</h2>
        }
        else
        {
  
           <div class="card bg-dark">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Portada</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Productora</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (ItlaTv.Application.ViewModels.SerieVm.SerieViewModel serie in Model)
                        {
                            <tr>
                                <td>
                                    <img class="ratio ratio-4x3 bd-placeholder-img object-fit-cover"
                                         src="@serie.ImagePath"
                                         alt="Portada de @serie.Name"
                                         style="width: 100px; height: 100px;" />

                                </td>
                                <td>@serie.Name</td>
                                <td>@string.Join(" • ", serie.Genres!.Select(ge => ge.Name))</td>
                                <td>@serie.studio.Name</td>
                                <td>
                                    <div class="btn-group d-flex justify-content-between">

                                        <a asp-controller="Serie" asp-action="Detail" asp-route-id="@serie.ID" type="button" class="btn btn-sm btn-outline-info">Detalle</a>
                                        <a asp-controller="Serie" asp-action="Edit" asp-route-id="@serie.ID" type="button" class="btn btn-sm btn-outline-warning">Editar</a>
                                        <a asp-controller="Serie" asp-action="Delete" asp-route-id ="@serie.ID" type="button" class="btn btn-sm btn-outline-danger">Eliminar</a>
                                    </div>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
           </div>


        }


    </div>
</div>